---
Language:        Cpp
FixNamespaceComments: false
NamespaceIndentation: All
AccessModifierOffset: -2
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
MaxEmptyLinesToKeep: 3
UseTab: Never
TabWidth: 4
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
...

